<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="distributionResources/appIcon.icns"
            visible="true">
         <run
               class="rulebender.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="rulebender.Perspective"
            id="rulebender.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.internal.console.ConsoleView"
            id="rulebender.views.Console"
            name="Console"
            restorable="true">
      </view>
      <view
      		allowMultiple="false"
            class="rulebender.navigator.views.ModelTreeView"
            id="rulebender.views.Navigator"
            name="Navigator"
            restorable="true">
      </view>
      <view
            class="rulebender.views.View"
            id="rulebender.views.View"
            name="View"
            restorable="true">
      </view>
      <view
            class="rulebender.contactmap.view.ContactMapView"
            id="rulebender.views.contactmap.ContactMapView"
            name="Contact Map"
            restorable="true">
      </view>
      <view
            class="rulebender.contactmap.view.ContactMapView"
            id="rulebender.views.ContactMapView"
            name="Contact Map"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rulebender.perspective">
         <view
               id="rulebender.views.Console"
               minimized="false"
               ratio="0.8f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="rulebender.views.Navigator"
               minimized="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="rulebender.views.ContactMapView"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="rulebender.commands.NewFile"
                  label="New"
                  mnemonic="n">
            </command>
            <command
                  commandId="rulebender.commands.OpenFile"
                  label="Open"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="rulebender.commands.Save"
                  label="Save"
                  mnemonic="s">
            </command>
            <command
                  commandId="rulebender.commands.SaveAs"
                  label="Save As">
            </command>
            <command
                  commandId="rulebender.commands.SaveAll"
                  label="Save All">
            </command>
            <separator
                  name="rulebender.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="rulebender.commands.PrintFile"
                  label="Print"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator3">
            </separator>
            <command
                  commandId="rulebender.commands.SwitchWorkspace"
                  label="Switch Workspace (restart required)"
                  style="push">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  mnemonic="x"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  mnemonic="c"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  mnemonic="v"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator1">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  mnemonic="z"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  mnemonic="y"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator2">
            </separator>
            <command
                  commandId="rulebender.commands.Find"
                  label="Find"
                  mnemonic="f"
                  style="push">
            </command>
            <command
                  commandId="rulebender.commands.Replace"
                  label="Replace"
                  mnemonic="r"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator3">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  mnemonic="a"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rulebender.toolbars.main">
            <command
                  commandId="rulebender.commands.NewFile"
                  label="New File..."
                  style="push">
            </command>
            <command
                  commandId="rulebender.commands.OpenFile"
                  label="Open File..."
                  style="push">
            </command>
            <command
                  commandId="rulebender.commands.Test"
                  label="Test"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rulebender.core.commands.ExitHandler"
            id="rulebender.commands.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="rulebender.core.commands.NewFileHandler"
            id="rulebender.commands.NewFile"
            name="NewFile">
      </command>
      <command
            defaultHandler="rulebender.core.commands.SaveHandler"
            id="rulebender.commands.Save"
            name="Save">
      </command>
      <command
            defaultHandler="rulebender.core.commands.SaveAllHandler"
            id="rulebender.commands.SaveAll"
            name="SaveAll">
      </command>
      <command
            defaultHandler="rulebender.core.commands.SaveAsHandler"
            id="rulebender.commands.SaveAs"
            name="SaveAs">
      </command>
      <command
            defaultHandler="rulebender.core.commands.OpenFileHandler"
            id="rulebender.commands.OpenFile"
            name="OpenFile">
      </command>
      <command
            defaultHandler="rulebender.core.commands.PrintFileHandler"
            id="rulebender.commands.PrintFile"
            name="Print">
      </command>
      <command
            defaultHandler="rulebender.core.commands.FindHandler"
            id="rulebender.commands.Find"
            name="Find">
      </command>
      <command
            defaultHandler="rulebender.core.commands.ReplaceHandler"
            id="rulebender.commands.Replace"
            name="Replace">
      </command>
      <command
            defaultHandler="rulebender.core.commands.Test"
            id="rulebender.commands.Test"
            name="Test">
      </command>
      <command
            defaultHandler="rulebender.core.commands.SwitchWorkspace"
            id="rulebender.commands.SwitchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="rulebender.preferences.views.MyFieldEditorPreferencePage"
            id="rulebender.views.preferences.preferencePage"
            name="My Preference Page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rulebender.editors.simple.SimpleEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="txt"
            id="rulebender.editors.simple"
            name="Simple Editor">
      </editor>
      <editor
            class="rulebender.editors.bngl.BNGLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="bngl"
            id="rulebender.editors.bngl"
            name="BNGL Editor">
      </editor>
      <editor
            class="rulebender.editors.net.NETEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="net"
            id="rulebender.editors.net"
            name="NET File Editor">
      </editor>
   </extension>

</plugin>
