<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="distributionResources/appIcon.icns"
            visible="true">
         <run
               class="rulebender.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rulebender.Perspective"
            icon="icons/views/CMap.gif"
            id="rulebender.perspective"
            name="Model">
      </perspective>
      <perspective
            class="rulebender.SimulationPerspective"
            icon="icons/views/run.gif"
            id="rulebender.simulate.SimulatePerspective"
            name="Simulation">
      </perspective>
      <perspective
            class="rulebender.ResultsPerspective"
            icon="icons/views/Results.gif"
            id="rulebender.ResultsPerspective"
            name="Results">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rulebender.perspective">
         <view
               closeable="false"
               id="rulebender.contactmap.view.ContactMapView"
               minimized="false"
               moveable="true"
               ratio="0.6f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="rulebender.properties.view.PropertiesSheetView"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="rulebender.contactmap.view.ContactMapView"
               visible="true">
         </view>
         <view
               closeable="false"
               id="rulebender.views.problemview"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="rulebender.cnf.CommonNavigator"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="rulebender.example.exampleview"
               minimized="false"
               relationship="stack"
               relative="rulebender.contactmap.view.ContactMapView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="rulebender.ResultsPerspective">
         <view
               closeable="false"
               id="rulebender.speciesgraph.SpeciesGraphView"
               minimized="false"
               moveable="true"
               ratio="0.7f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="rulebender.cnf.CommonNavigator"
               minimized="false"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="rulebender.simulate.SimulatePerspective">
         <view
               closeable="false"
               id="rulebender.simulate.view.SimulateView"
               minimized="false"
               moveable="true"
               ratio="0.3f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="rulebender.views.Console"
               minimized="false"
               moveable="true"
               ratio="0.7f"
               relationship="bottom"
               relative="rulebender.simulate.view.SimulateView"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="rulebender.views.Console"
               visible="true">
         </view>
         <view
               id="rulebender.cnf.CommonNavigator"
               minimized="false"
               ratio="0.6f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.internal.console.ConsoleView"
            icon="icons/views/console_view.gif"
            id="rulebender.views.Console"
            name="Console"
            restorable="true">
      </view>
      <view
            class="rulebender.contactmap.view.ContactMapView"
            icon="icons/views/CMap.gif"
            id="rulebender.contactmap.view.ContactMapView"
            name="Contact Map"
            restorable="true">
      </view>
      <view
            class="rulebender.speciesgraph.view.SpeciesGraphView"
            icon="icons/views/speciesGraph.gif"
            id="rulebender.speciesgraph.SpeciesGraphView"
            name="Species Graph"
            restorable="true">
      </view>
      <view
            class="rulebender.specieslist.view.SpeciesListView"
            id="rulebender.specieslist.view.SpeciesListView"
            name="Species List"
            restorable="true">
      </view>
      <view
            class="rulebender.influencegraph.view.InfluenceGraphView"
            icon="icons/views/IGraph.gif"
            id="rulebender.influencegraph.view.InfluenceGraphView"
            name="InfluenceGraph"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.views.properties.PropertySheet"
            icon="icons/views/properties.gif"
            id="rulebender.properties.view.PropertiesSheetView"
            name="Properties"
            restorable="true">
      </view>
      <view
            class="rulebender.simulate.view.SimulateView"
            icon="icons/views/run.gif"
            id="rulebender.simulate.view.SimulateView"
            name="Simulation"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/views/tree_explorer.gif"
            id="rulebender.cnf.CommonNavigator"
            name="Navigator"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/views/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View">
      </view>
      <view
            class="org.eclipse.ui.internal.views.markers.ProblemsView"
            icon="icons/views/problems_view.gif"
            id="rulebender.views.problemview"
            name="Problems"
            restorable="true">
      </view>
      <view
            class="rulebender.example.ExampleView"
            icon="icons/views/example.gif"
            id="rulebender.example.exampleview"
            name="Example View Extension"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New..."
                  style="push">
            </command>
            <separator
                  name="rulebender.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  mnemonic="s">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All">
            </command>
            <separator
                  name="rulebender.separator2">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Print"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator3">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  mnemonic="x"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  mnemonic="c"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  mnemonic="v"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator1">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  mnemonic="z"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  mnemonic="y"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator2">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="Find &amp; Replace..."
                  mnemonic="f"
                  style="push">
            </command>
            <separator
                  name="rulebender.separator3">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  mnemonic="a"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences..."
                  style="push">
            </command>
            <command
                  commandId="rulebender.commands.SwitchWorkspace"
                  label="Switch Workspace (restart required)"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rulebender.toolbars.main">
         </toolbar>
      </menuContribution>
   </extension>
       <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding 
            viewerId="rulebender.cnf.CommonNavigator">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	     <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
          </includes>
       </viewerContentBinding>
       <viewerActionBinding
             viewerId="rulebender.cnf.CommonNavigator">
          <includes>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.*">
             </actionExtension>
          </includes>
       </viewerActionBinding>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rulebender.core.commands.OpenFileHandler"
            id="rulebender.commands.OpenFile"
            name="OpenFile">
      </command>
      <command
            defaultHandler="rulebender.core.commands.SwitchWorkspace"
            id="rulebender.commands.SwitchWorkspace"
            name="Switch Workspace">
      </command>
      <command
            defaultHandler="rulebender.core.commands.CloseTopConsole"
            id="rulebender.core.commands.CloseTopConsole"
            name="Close Console">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="rulebender.preferences.views.MyFieldEditorPreferencePage"
            id="rulebender.views.preferences.preferencePage"
            name="Simulator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rulebender.editors.simple.SimpleEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="txt, log"
            id="rulebender.editors.simple"
            name="Simple Editor">
      </editor>
      <editor
            class="rulebender.editors.bngl.BNGLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="bngl"
            icon="/icons/views/CMap.gif"
            id="rulebender.editors.bngl"
            name="BNGL Editor">
      </editor>
      <editor
            class="rulebender.editors.net.NETEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="net"
            id="rulebender.editors.net"
            name="NET File Editor">
      </editor>
      <editor
            class="rulebender.editors.bnga.BNGAMultiPageEditor"
            contributorClass="rulebender.editors.bnga.BNGAMultiPageEditorContributor"
            extensions="bnga"
            icon="icons/sample.gif"
            id="rulebender.editors.bnga.BNGAMultiPageEditor"
            name="BioNetGen Actions Editor">
      </editor>
      <editor
            class="rulebender.editors.dat.DATMultiPageEditor"
            default="false"
            extensions="gdat, cdat, scan"
            icon="icons/views/Results.gif"
            id="rulebender.editors.dat"
            name="Results File">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rulebender.application"
            name="RuleBender">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="RuleBender">
         </property>
         <property
               name="aboutText"
               value="RuleBender 2.0r220&#x0A;&#x0A;RuleBender is currently developed by Adam M. Smith at the University of Pittsburgh under the direction of James R. Faeder and Elisabeta G. Marai. &#x0A;&#x0A;Please send all feedback and questions to help@rulebender.org.">
         </property>
         <property
               name="windowImages"
               value="icons/system/RB-16.gif,icons/system/RB-32.gif,icons/system/RB-48.gif,icons/system/RB-64.gif,icons/system/RB-128.gif">
         </property>
      </product>
   </extension>
  
 <extension 
 		id="rulebender.markers.bnglerrormarker"
 		name="BNGL Error"
 		point= "org.eclipse.core.resources.markers"> 
	<super
         type="org.eclipse.core.resources.problemmarker">
   	</super>
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   <persistent
         value="false">
   	</persistent>
 </extension>
 



  <extension
        id="rulebender.markers.textinstance"
        name="Text"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="false">
     </persistent>
     <super
           type="org.eclipse.core.resources.textmarker">
     </super>
  </extension>
  <extension
        point="org.eclipse.ui.editors.annotationTypes">
     <type
           markerType="rulebender.markers.textinstance"
           name="rulebender.annotations.textinstance">
     </type>
  </extension>

<extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="rulebender.annotations.textinstance"
         colorPreferenceKey="rulebender.annotations.textinstance.color"
         colorPreferenceValue="155, 255, 155"
         contributesToHeader="false"
         highlightPreferenceKey="rulebender.annotations.textinstance.highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Text Instance Marker"
         overviewRulerPreferenceKey="rulebender.annotations.textinstance.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="rulebender.annotations.textinstance.text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="rulebender.annotations.textinstance.ruler"
         verticalRulerPreferenceValue="true">
   </specification>
</extension>
<extension
      point="org.eclipse.ui.startup">
   <startup
         class="rulebender.core.editorhider.EditorHider">
   </startup>
</extension>
<extension
      id="TestRuleBenderProduct"
      point="org.eclipse.core.runtime.products">
   <product
         application="rulebender.application"
         name="RuleBender">
      <property
            name="appName"
            value="RuleBender">
      </property>
   </product>
</extension>
<extension
      point="org.eclipse.ui.console.consolePatternMatchListeners">
   <consolePatternMatchListener
         class="rulebender.core.utility.ConsolePatternMatchListenerDelegate"
         id="rulebender.core.utility.consolePatternMatchListener"
         regex="Iteration">
      <enablement></enablement>
   </consolePatternMatchListener>
</extension>

</plugin>
